<%- include('partials/header'); -%>

<header>
  <div class="card">
    <div class="headings" style="margin: 0 auto;">
      <h2>Details</h2>
      <h3>Email: <%= user.email %></h3>
    </div>
  </div>

</header>


<%- include('partials/footer'); -%>