<%- include('partials/header'); -%>

<header>
  <div class="dashboard">
    <img src="../public/logo.png" alt="">
  </div>
  <div class="headings">
    <h2>Interntask</h2>
    <h3>JWT Auth login and signup</h3>
    <a href="/dashboards" class="btn">
      <% if (user) { %>
        Go to Dashboard
      <% } else { %>
        Login
      <% } %>
    </a>
  </div>
</header>


<%- include('partials/footer'); -%>